.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  line-height: 2;
}

.middle {

}

.bottom {
background-color: #66BFBF;
height: 100px;
padding-bottom: 50px;
margin-top: 50px;
}
a{
  color: #11999E;
}
body {
  margin: 0;
  text-align: center;
font-family: 'Montserrat', sans-serif;
}

h1 {
  margin-top: 50px;

  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 5rem;
  color:#66BFBF;

}
h2{
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
color: #11999E;
}
.webimg{
  width: 35%;
  height: 35%;
  float: left;
  margin-right: 30px;
}
.codeimg{
  width: 35%;
  height: 35%;
  float:right;
  margin-left: 30px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row{
  margin: 100px auto 100px auto;
  width: 50%;
  text-align:left;
}
.skill-row2{
  margin: 150px auto 100px auto;
  width: 50%;
  text-align:left;

}
p{
  line-height: 2;
}
.endline{
  color: #EAF6F6;
}
.footer-link{
  font-size: 20px;
}
.btn{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;

}
button{
  background-color: #66BFBF;
  border: none;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 8px;
}
.cartoonimg{
  width: 200px;
  height: 200px;
  margin-top: 50px;
}
.profile{
  width:30%;
  margin: auto;
  line-height: 2;
}
hr{
  border: dotted grey 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
